@using Curso.Models.Dtos
@model TeacherDto

@{
    ViewData["Title"] = "Create New Teacher ";
}

@{
    string originUrl = ViewBag.OriginRequest;
    if(!string.IsNullOrWhiteSpace(originUrl))
    {
        if (originUrl.Contains("/"))
        {
            originUrl = originUrl.Substring(originUrl.LastIndexOf("/"), (originUrl.Length -  originUrl.LastIndexOf("/")  ) );
        }
        
    }
    var isOriginFromTeacherPage = !string.IsNullOrEmpty(ViewBag.OriginRequest) && ViewBag.OriginRequest.Contains("/Teacher") ? true : false;
    var hasError = ViewBag.HasError ?? false;
    var message = ViewBag.Message;
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="col-md-6">
        <div class="alert alert-@(hasError ? "danger" : "primary")" role="alert">
            @message
        </div>
    </div>
}

<div class="row">
    <div class="col-md-6">
        <form method="post" asp-controller="@(isOriginFromTeacherPage ? "Teacher" : "TeacherCourseAAAAA")">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input type="text" class="form-control" asp-for="Name" />
                <input type="hidden" class="form-control" asp-for="Id" />
                @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input class="form-control" asp-for="Email" />
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput2">CPF</label>
                <input type="text" class="form-control" asp-for="CPF">
                @Html.ValidationMessageFor(x => x.CPF, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mt-3">
                <div class="col-md-offset-2 col-md-10">
                    @if (isOriginFromTeacherPage)
                    {
                        <button asp-action="Save" asp-controller="Teacher" class="btn btn-primary">Save</button>
                        <a asp-action="Index" asp-controller="Teacher" class="btn btn-secondary">Back to List</a>
                    }
                    else
                    {
                        <button asp-action="Save" asp-controller="TeacherCourse" class="btn btn-primary">Save</button>
                        <a asp-action="Index" asp-controller="TeacherCourse" class="btn btn-secondary">Back to List</a>
                    }

                </div>
            </div>

            @Html.AntiForgeryToken()
        </form>
    </div>

</div>
